@font-face {
  font-family: "Gadugi Bold", serif;
  src: url("./gadugi-bold.ttf") format("truetype");
}
@font-face {
  font-family: "Gadugi Bold", serif;
  src: url("./gadugi-bold.ttf") format("truetype");
}
.steps > img {
  margin-bottom: 3.2rem;
}
.steps > p {
  font-size: 1.6rem;
  color: #4eb3e3;
  font-weight: 800;
  font-family: "Gadugi Bold", serif;
  margin-bottom: 1.6rem;
}
.steps > h2 {
  font-family: "Caveat Brush", cursive;
  font-size: 3.2rem;
  color: "Noto Sans", sans-serif;
  font-weight: 200;
  margin-bottom: 1.6rem;
}
.steps p:nth-of-type(2) {
  font-family: "Noto Sans", sans-serif;
  color: #1f343e;
  font-weight: 400;
}

@font-face {
  font-family: "Gadugi Bold", serif;
  src: url("./gadugi-bold.ttf") format("truetype");
}
.apps-stores {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 1.6rem 2.4rem;
  border: 1px solid #1f343e;
  border-radius: 16px;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  color: #fff;
  cursor: pointer;
}
.apps-stores #main-img {
  position: relative;
}
.apps-stores #main-img > img:first-child {
  width: 100%;
}
.apps-stores #main-img #coin-img {
  position: absolute;
  width: 50%;
  border-radius: 0.8rem;
  top: 0;
  right: 0;
  transform: translate(40%, -20%);
}
.apps-stores .apps-texts {
  display: flex;
  flex-direction: column;
  padding-left: 2.8rem;
}
.apps-stores .apps-texts strong {
  font-size: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* CONTAINER */
container {
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: max(1.2rem, min(5vw, 2.4rem)) max(1.6rem, min(5vw, 40rem));
  background: #fff;
  border: 1px solid #6d7a80;
  opacity: 1;
  position: relative;
}

navbar img {
  max-width: 2.8rem;
  height: auto;
}
navbar #close-btn {
  display: none;
}

.nav-bar-2 {
  display: none;
}

.panel-control {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #1f343e;
  border-top: none;
  padding: 2rem;
}
.panel-control a {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  text-decoration: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  color: #1f343e;
  transition: 0.2s;
}
.panel-control a:hover {
  color: #4eb3e3;
}

.panel-control.visible {
  display: block;
}

.burger-menu__line {
  width: 1.8rem;
  height: 0.4rem;
  margin-bottom: 0.2rem;
  background-color: #bdc1c3;
  border-radius: 6.4rem;
  border: 1px solid;
}

/* MAIN */
main {
  background-color: #f8cc5d;
  padding: max(3.2rem, min(5vw, 6.4rem)) max(1.6rem, min(5vw, 40rem));
  width: 100%;
}

/* SECTION-1 */
.section-1 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: max(3.2rem, min(5vw, 6.4rem)) max(1.6rem, min(5vw, 6.4rem));
  background-color: #f8f4f9;
  border: 1px solid #1f343e;
  border-radius: 1.6rem;
}
.section-1 h1 {
  font-family: "Caveat Brush", cursive;
  color: #1f343e;
  font-size: max(3.2rem, min(5vw, 4.8rem));
  line-height: max(4.8rem, min(5vw, 7.2rem));
  font-weight: 300;
}
.section-1 > p {
  font-family: "Noto Sans", sans-serif;
  color: #1f343e;
  font-size: max(1.6rem, min(5vw, 2rem));
  font-weight: 400;
  line-height: max(2.4rem, min(5vw, 3.2rem));
}
.section-1 form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.section-1 form input,
.section-1 button {
  width: 100%;
  height: 5.6rem;
  padding: 1.8rem;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  border: 1px solid #1f343e;
  border-radius: 0.8rem;
}
.section-1 #correct-email {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.section-1 #correct-email,
.section-1 #invalid-email {
  display: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  color: #1f343e;
  font-weight: 700;
}
.section-1 #correct-email img,
.section-1 #invalid-email img {
  width: 3rem;
}
.section-1 #invalid-email {
  color: #ed6f82;
}
.section-1 input {
  color: #6d7a80;
  font-weight: 400;
}
.section-1 button {
  background: #4eb3e3;
  color: #fff;
  font-weight: 600;
}
.section-1 form input[type=email] {
  background: url("./assets//mail.svg") no-repeat 1rem center;
  padding-left: 4rem;
}
.section-1 .form-text-bottom {
  color: #6d7a80;
  align-content: end;
}
.section-1 #referral-form {
  display: none;
}

/* SECTION-2 */
.section-2 {
  display: flex;
  flex-direction: column;
  gap: max(4.8rem, min(5vw, 6.4rem));
  text-align: center;
  margin: 4.8rem 0;
}
.section-2 .steps p {
  font-size: max(1.6rem, min(5vw, 2rem));
  line-height: max(2.4rem, min(5vw, 3.2rem));
}
.section-2 .steps h2 {
  font-size: 3.2rem;
}

/* SECTION-3 */
.section-3 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: #45565e;
  padding: 3.2rem;
}
.section-3 .apps-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-3 .apps-reviews img {
  max-width: 35%;
}
.section-3 .apps-reviews p {
  font-family: "Noto Sans", sans-serif;
  color: #fff;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  font-family: "Noto Sans", sans-serif;
  color: #1f343e;
  background: #f8f4f9;
  padding: 4.8rem 3.2rem;
}
footer h3 {
  font-weight: 700;
  margin-bottom: 2.4rem;
}
footer .footer-data-1 img {
  width: 40%;
  margin-bottom: 3.2rem;
}
footer .footer-data-2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .footer-data-2 > h3 {
  margin-bottom: 0.9rem;
}
footer .footer-data-3 .contact-data {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
footer .footer-data-3 .contact-data > img {
  width: 1.6rem;
}
footer .footer-data-4 .social-group {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
footer .footer-data-4 #social-icons {
  background: #4eb3e3;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.8rem;
  border: 1px solid #1f343e;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-data-5 {
  color: #6d7a80;
  text-align: center;
}

/* MEDIA QUERIES */
@media (min-width: 1024px) {
  header {
    justify-content: center;
    gap: clamp(44rem, 2vw, 64rem);
  }
  navbar {
    display: none;
  }
  .nav-bar-2 {
    display: flex;
    align-items: center;
    gap: 5.6rem;
  }
  .nav-bar-2 a {
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem;
    color: #1f343e;
    transition: 0.2s;
    cursor: pointer;
  }
  .nav-bar-2 a:hover {
    color: #4eb3e3;
  }
  main {
    display: flex;
    gap: 12.8rem;
    justify-content: center;
  }
  main .section-1 {
    max-width: 54rem;
  }
  main .section-2 {
    justify-content: center;
    margin: 0;
    padding: 0 2rem;
    align-items: center;
  }
  main .section-2 .steps {
    display: grid;
    grid-template-columns: 25% 75%;
    row-gap: max(0.8rem, min(5vw, 1.6rem));
    -moz-column-gap: max(1.2rem, min(5vw, 5.6rem));
         column-gap: max(1.2rem, min(5vw, 5.6rem));
    max-width: 40rem;
  }
  main .section-2 .steps img {
    grid-row: span 3;
    justify-self: center;
    align-self: center;
    margin-bottom: 0;
  }
  main .section-2 .steps p,
  main .section-2 .steps h2 {
    align-self: center;
    margin-bottom: 0;
    text-align: left;
  }
  .section-3 {
    flex-direction: row;
    justify-content: center;
    padding-left: max(3.2rem, min(10vw, 40rem));
    padding-right: max(3.2rem, min(10vw, 40rem));
  }
  .apps-stores,
  .apps-reviews {
    width: 29%;
  }
  .apps-reviews {
    font-size: 2rem;
    margin-left: 1.6rem;
  }
  footer {
    padding: max(4.8rem, min(5vw, 6.4rem)) max(3.2rem, min(14vw, 40rem));
    display: grid;
    grid-template-areas: "A B C" "A B D" "E B D";
  }
  footer .footer-data-1 {
    grid-area: A;
  }
  footer .footer-data-1 > img {
    max-width: 12.5rem;
  }
  footer .footer-data-1 p {
    max-width: 54rem;
  }
  footer .footer-data-2 {
    grid-area: B;
  }
  footer .footer-data-3 {
    grid-area: C;
  }
  footer .footer-data-4 {
    grid-area: D;
  }
  footer .footer-data-5 {
    grid-area: E;
    text-align: start;
  }
  footer h3 {
    font-size: 2rem;
  }
}/*# sourceMappingURL=index.css.map */