@import "./src/variables/fonts/fonts";
@import "./src/variables/colors";
@import "./src/components/appsstores";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* CONTAINER */
container {
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;

  background: $white-color;
  border: 1px solid $second-text-color;
  opacity: 1;
}

navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;

  align-items: center;
  justify-content: center;
}

.burger-menu__line {
  width: 1.8rem;
  height: 0.4rem;
  margin-bottom: 0.2rem;

  background-color: #bdc1c3;
  border-radius: 6.4rem;
  border: 1px solid;
}

/* MAIN */
main {
  background-color: $primary-bg-color;
  padding: 3.2rem 1.6rem;
}

/* SECTION-1 */
.section-1 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3.2rem 1.6rem;

  background-color: $fourth-bg-color;

  h1 {
    font-family: $second-font-family;
    color: $primary-text-color;
    font-size: 3.2rem;
    line-height: 4.8rem;
    font-weight: 300;
  }

  > p {
    font-family: $primary-font-family;
    color: $primary-text-color;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  form input,
  button {
    width: 31rem;
    height: 5.6rem;
    padding: 1.8rem;

    font-family: $primary-font-family;
    font-size: 1.6rem;
  }

  input {
    color: $second-text-color;
    font-weight: 400;
  }

  button {
    background: $second-bg-color;
    color: $white-color;
    font-weight: 600;
  }

  .form-text-bottom {
    color: $second-text-color;
  }
}

/* SECTION-2 */
.section-2 {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  text-align: center;
  margin: 4.8rem 0;
}

/* SECTION-3 */
.section-3 {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  background-color: $third-bg-color;
  padding: 3.2rem;

  .apps-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.2rem;

    img {
      max-width: 35%;
    }
    
    p {
      font-family: $primary-font-family;
      color: $white-color;
    }
  }
}
