$primary-font-family: "Noto Sans", sans-serif;
$second-font-family: "Caveat Brush", cursive;
$third-font-family: "Roboto", sans-serif;
$fourth-font-family: "Gadugi Bold", serif;

@font-face {
  font-family: "Gadugi Bold", serif;
  src: url("./gadugi-bold.ttf") format("truetype");
}
